# Copia este archivo como ".env" (sin el .example) y rellena tus valores reales.
# El archivo ".env" NUNCA se sube a GitHub (está en .gitignore).

TELEGRAM_BOT_TOKEN=8964938229:AAEWALuaOpYkaEjcxSOcrvZ9iooUpympAQQ
TELEGRAM_CHAT_ID=6634735226
